In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score

In [2]:
co2 = pd.read_csv('C:/Users/monal/Desktop/Data Science/environmental/Air and Climate/CO2_Emissions.csv')
cli_dis = pd.read_csv('C:/Users/monal/Desktop/Data Science/environmental/Natural Disasters/Climatological disasters.csv')
geo_dis = pd.read_csv('C:/Users/monal/Desktop/Data Science/environmental/Natural Disasters/Geophysical disasters.csv')
meteo_dis = pd.read_csv('C:/Users/monal/Desktop/Data Science/environmental/Natural Disasters/Meteorological disasters.csv')

In [3]:
co2.head(10)

,Country ID,Country,"Time Series - COâ‚‚ total emissions without LULUCF, in 1000 t",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,"CO2 emissions, latest year",% change since 1990,"CO2 emissions \nper capita, \nlatest year"
0,NaN,NaN,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,Latest Year,1000 t,%,kg
1,4.0,Afghanistan,...,...,...,...,...,...,...,...,...,"9,851.00",...,...,...,...,...,2013,9851.00,...,0.31
2,8.0,Albania,"3,101.66","5,166.70","3,311.06","3,235.47","3,500.49","3,477.42","3,341.56","3,426.64",...,...,...,...,...,...,...,2009,5942.57,91.59,2.00
3,12.0,Algeria,...,...,...,...,"63,705.00",...,...,...,...,...,...,...,...,...,...,2000,71593.26,...,2.31
4,24.0,Angola,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2005,27809.00,...,1.43
5,28.0,Antigua and Barbuda,288.14,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2000,371.88,29.06,4.89
6,32.0,Argentina,"1,00,867.50",...,...,...,"1,17,595.97",...,...,"1,25,563.93",...,...,...,...,...,...,...,2012,188265.15,86.65,4.51
7,51.0,Armenia,"21,615.96",...,...,...,...,...,...,...,...,...,...,...,...,...,...,2010,4456.99,-79.38,1.55
8,36.0,Australia,"2,78,424.66","2,79,872.66","2,84,912.44","2,89,235.19","2,94,014.96","3,05,410.17","3,12,361.59","3,20,795.09",...,"3,97,943.18","3,94,116.89","4,01,554.76","4,11,031.53","4,15,097.43","4,15,953.95",2018,415953.95,49.40,16.71
9,40.0,Austria,"62,124.70","65,725.53","60,204.07","60,635.42","61,002.44","64,065.26","67,421.59","67,232.78",...,"67,745.69","64,084.43","66,283.24","67,112.27","69,628.86","66,719.68",2018,66719.68,7.40,7.50

In [4]:
co2.columns

Index(['Country ID', 'Country',
       'Time Series - COâ‚‚ total emissions  without LULUCF, in 1000 t',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'CO2 emissions, latest year', '% change since 1990',
       'CO2 emissions \nper capita, \nlatest year'],
      dtype='object')

In [5]:
co2['Country ID'][0] = 'Country ID'
co2['Country'][0] = 'Country'
co2.columns = co2.iloc[0]
co2.head()

C:\Users\monal\AppData\Local\Temp/ipykernel_3384/1731414717.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  co2['Country ID'][0] = 'Country ID'
C:\Users\monal\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,Country ID,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,Latest Year,1000 t,%,kg
0,Country ID,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,Latest Year,1000 t,%,kg
1,4.0,Afghanistan,...,...,...,...,...,...,...,...,...,"9,851.00",...,...,...,...,...,2013,9851.00,...,0.31
2,8.0,Albania,"3,101.66","5,166.70","3,311.06","3,235.47","3,500.49","3,477.42","3,341.56","3,426.64",...,...,...,...,...,...,...,2009,5942.57,91.59,2.00
3,12.0,Algeria,...,...,...,...,"63,705.00",...,...,...,...,...,...,...,...,...,...,2000,71593.26,...,2.31
4,24.0,Angola,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2005,27809.00,...,1.43

In [6]:
co2.drop(index=co2.index[0], axis=0, inplace=True)
co2.reset_index(drop=True, inplace=True)
co2.replace(to_replace = '...', value = 0, inplace = True)
co2.head()

,Country ID,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,Latest Year,1000 t,%,kg
0,4.0,Afghanistan,0,0,0,0,0,0,0,0,...,"9,851.00",0,0,0,0,0,2013,9851.00,0,0.31
1,8.0,Albania,"3,101.66","5,166.70","3,311.06","3,235.47","3,500.49","3,477.42","3,341.56","3,426.64",...,0,0,0,0,0,0,2009,5942.57,91.59,2.00
2,12.0,Algeria,0,0,0,0,"63,705.00",0,0,0,...,0,0,0,0,0,0,2000,71593.26,0,2.31
3,24.0,Angola,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2005,27809.00,0,1.43
4,28.0,Antigua and Barbuda,288.14,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2000,371.88,29.06,4.89

In [7]:
co2.isnull().values.any()

False

In [8]:
nineties = ['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999']
twos = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009']
twotens = ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']

'''
co2[nineties] = co2[nineties].astype('|S')
co2[twos] = co2[twos].astype('|S')
co2[twotens] = co2[twotens].astype('|S')
'''
#o2[nineties] =(co2[nineties].split()).apply(lambda x: float(x[0].replace(',', '')))
#o2[twos] =(co2[twos].split()).apply(lambda x: float(x[0].replace(',', '')))
#o2[twotens] =(co2[twotens].split()).apply(lambda x: float(x[0].replace(',', '')))

co2.replace(',','', regex=True, inplace=True)

co2[nineties] = co2[nineties].astype(float, errors = 'raise')
co2[twos] = co2[twos].astype(float, errors = 'raise')
co2[twotens] = co2[twotens].astype(float, errors = 'raise')

co2['1990-1999'] = co2[nineties].sum(axis = 1)
co2['2000-2009'] = co2[twos].sum(axis=1)
co2['2010-2018'] = co2[twotens].sum(axis=1)

co2.dtypes

0
Country ID     float64
Country         object
1990           float64
1991           float64
1992           float64
1993           float64
1994           float64
1995           float64
1996           float64
1997           float64
1998           float64
1999           float64
2000           float64
2001           float64
2002           float64
2003           float64
2004           float64
2005           float64
2006           float64
2007           float64
2008           float64
2009           float64
2010           float64
2011           float64
2012           float64
2013           float64
2014           float64
2015           float64
2016           float64
2017           float64
2018           float64
Latest Year     object
1000 t          object
%               object
kg              object
1990-1999      float64
2000-2009      float64
2010-2018      float64
dtype: object

In [9]:
co2.head()
#CO2 totals in tons x 1000

,Country ID,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2016,2017,2018,Latest Year,1000 t,%,kg,1990-1999,2000-2009,2010-2018
0,4.0,Afghanistan,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,2013,9851.00,0,0.31,0.00,3222.20,9851.0
1,8.0,Albania,3101.66,5166.7,3311.06,3235.47,3500.49,3477.42,3341.56,3426.64,...,0.0,0.0,0.0,2009,5942.57,91.59,2.00,37178.39,48335.45,0.0
2,12.0,Algeria,0.00,0.0,0.00,0.00,63705.00,0.00,0.00,0.00,...,0.0,0.0,0.0,2000,71593.26,0,2.31,63705.00,71593.26,0.0
3,24.0,Angola,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,2005,27809.00,0,1.43,0.00,44126.00,0.0
4,28.0,Antigua and Barbuda,288.14,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,2000,371.88,29.06,4.89,288.14,371.88,0.0

In [10]:
cli_dis.head(10)

,CountryID,Countries or areas,Occurrence 1990-1999,Occurrence 2000-2009,Occurrence 2010-2019,Total deaths 1990-1999,Total deaths 2000-2009,Total deaths 2010-2019,Persons affected 1990-1999,Persons affected 2000-2009,Persons affected 2010-2019
0,4,Afghanistan,3,3,2,0,37,0,48000,4760000,12350000
1,8,Albania,1,1,...,0,0,...,3200000,75,...
2,12,Algeria,2,1,...,22,8,...,0,0,...
3,24,Angola,4,2,2,0,58,0,2585000,25000,3253900
4,660,Anguilla,1,...,...,0,...,...,0,...,...
5,28,Antigua and Barbuda,1,...,...,0,...,...,75000,...,...
6,32,Argentina,3,4,1,24,8,0,152752,0,0
7,51,Armenia,...,1,...,...,0,...,...,297000,...
8,36,Australia,27,12,13,890,202,41,7150201,17809,12628
9,31,Azerbaijan,...,1,...,...,0,...,...,0,...

In [11]:
cli_dis.columns

Index(['CountryID', 'Countries or areas', 'Occurrence 1990-1999',
       'Occurrence 2000-2009', 'Occurrence 2010-2019',
       'Total deaths 1990-1999', 'Total deaths 2000-2009',
       'Total deaths 2010-2019', 'Persons affected 1990-1999',
       'Persons affected 2000-2009', 'Persons affected 2010-2019'],
      dtype='object')

In [12]:
cli_dis.replace(to_replace = '...', value = 0, inplace = True)
headers = ['Occurrence 1990-1999','Occurrence 2000-2009', 'Occurrence 2010-2019','Total deaths 1990-1999', 'Total deaths 2000-2009','Total deaths 2010-2019', 'Persons affected 1990-1999','Persons affected 2000-2009', 'Persons affected 2010-2019']
cli_dis[headers] = cli_dis[headers].astype(float, errors = 'raise')
cli_dis.dtypes

CountryID                       int64
Countries or areas             object
Occurrence 1990-1999          float64
Occurrence 2000-2009          float64
Occurrence 2010-2019          float64
Total deaths 1990-1999        float64
Total deaths 2000-2009        float64
Total deaths 2010-2019        float64
Persons affected 1990-1999    float64
Persons affected 2000-2009    float64
Persons affected 2010-2019    float64
dtype: object

In [17]:
cli_dis.loc['Total',:]= cli_dis[headers].sum(axis=0)
print(cli_dis.loc['Total'])

CountryID                              NaN
Countries or areas                     NaN
Occurrence 1990-1999                1214.0
Occurrence 2000-2009                 626.0
Occurrence 2010-2019                 516.0
Total deaths 1990-1999          21025958.0
Total deaths 2000-2009              3552.0
Total deaths 2010-2019             41936.0
Persons affected 1990-1999    2613720972.0
Persons affected 2000-2009    1515512548.0
Persons affected 2010-2019    1337118212.0
Name: Total, dtype: object

In [14]:
geo_dis.head(10)

,CountryID,Countries or areas,Occurrence 1990-1999,Occurrence 2000-2009,Occurrence 2010-2019,Total deaths 1990-1999,Total deaths 2000-2009,Total deaths 2010-2019,Persons affected 1990-1999,Persons affected 2000-2009,Persons affected 2010-2019
0,4,Afghanistan,10,11,5,7426,1236,217,352293,107947,97970
1,8,Albania,1,1,3,0,0,51,2100,150,14007
2,12,Algeria,3,5,1,193,2279,6,30214,211095,420
3,16,American Samoa,...,1,...,...,34,...,...,2500,...
4,32,Argentina,1,2,2,0,0,0,63200,727,3000
5,51,Armenia,1,...,...,0,...,...,15000,...,...
6,36,Australia,1,...,...,0,...,...,5025,...,...
7,40,Austria,1,...,...,0,...,...,0,...,...
8,31,Azerbaijan,2,1,2,2,31,0,709178,3294,22499
9,50,Bangladesh,2,3,2,29,4,9,15400,3525,270

In [15]:
meteo_dis.head(10)

,CountryID,Countries or areas,Occurrence 1990-1999,Occurrence 2000-2009,Occurrence 2010-2019,Total deaths 1990-1999,Total deaths 2000-2009,Total deaths 2010-2019,Persons affected 1990-1999,Persons affected 2000-2009,Persons affected 2010-2019
0,4,Afghanistan,3,7,5,234,1996,196,200,393340,9128
1,8,Albania,...,4,2,...,11,11,...,525150,230000
2,12,Algeria,...,4,2,...,67,8,...,15,250025
3,16,American Samoa,...,2,...,...,0,...,...,23060,...
4,660,Anguilla,1,...,1,0,...,4,150,...,15000
5,28,Antigua and Barbuda,5,,2,6,0,1,11684,25800,6400
6,32,Argentina,4,13,6,21,100,75,43000,12756,15242
7,51,Armenia,...,...,4,...,...,0,...,...,97600
8,36,Australia,30,27,15,74,359,172,8539068,44851,126377
9,40,Austria,8,10,5,3,359,21,0,300,330

NameError: name 'freshwater' is not defined