In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
users = pd.read_csv('C:/Users/monal/Desktop/Data Science/1481069814_relax_challenge/relax_challenge/takehome_users.csv', encoding = "ISO-8859-1")
engage = pd.read_csv('C:/Users/monal/Desktop/Data Science/1481069814_relax_challenge/relax_challenge/takehome_user_engagement.csv', encoding = "ISO-8859-1")

In [3]:
users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [4]:
users = users.rename(columns={'object_id':'user_id'})
users.set_index('user_id', inplace=True)
users.head()

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
user_id,,,,,,,,,
1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [5]:
engage['time_stamp'] =  pd.to_datetime(engage['time_stamp'])
engage.dtypes

time_stamp    datetime64[ns]
user_id                int64
visited                int64
dtype: object

In [6]:
engage.tail()

                time_stamp  user_id  visited
207912 2013-09-06 06:14:15    11996        1
207913 2013-01-15 18:28:37    11997        1
207914 2014-04-27 12:45:16    11998        1
207915 2012-06-02 11:55:59    11999        1
207916 2014-01-26 08:57:12    12000        1

In [7]:
print(engage.loc[engage['user_id'] == 4])

            time_stamp  user_id  visited
16 2013-05-22 08:09:28        4        1

In [8]:
engage = engage.groupby("user_id").sum()
engage = engage.sort_values("user_id", ascending = True)

In [9]:
engage.head()

         visited
user_id
1              1
2             14
3              1
4              1
5              1

In [10]:
users['creation_source'].unique()

array(['GUEST_INVITE', 'ORG_INVITE', 'SIGNUP', 'PERSONAL_PROJECTS',
       'SIGNUP_GOOGLE_AUTH'], dtype=object)

In [11]:
key = {'GUEST_INVITE': 1, 'ORG_INVITE': 2, 'SIGNUP': 3, 'PERSONAL_PROJECTS': 4,
       'SIGNUP_GOOGLE_AUTH': 5}
users = users.replace(key)
users.head()

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
user_id,,,,,,,,,
1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,1,1.398139e+09,1,0,11,10803.0
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,2,1.396238e+09,0,0,1,316.0
3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,2,1.363735e+09,0,0,94,1525.0
4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,1,1.369210e+09,0,0,1,5151.0
5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,1,1.358850e+09,0,0,193,5240.0

In [12]:
corr_create = engage['visited'].corr(users['creation_source'])
corr_create

-0.010885394503982695

In [13]:
corr_mail = engage['visited'].corr(users['opted_in_to_mailing_list'])
corr_mail

0.0042839330064177355

In [14]:
corr_drip = engage['visited'].corr(users['enabled_for_marketing_drip'])
corr_drip

0.002256809579227054

In [15]:
corr_inv = engage['visited'].corr(users['invited_by_user_id'])
corr_inv

-0.0007960016872703619

In [16]:
#data shows some corrolation between visits and signup stats of users.  A decision tree may be suitable to predict
#user interaction based on how the member signed up.